@tailwind base;
@tailwind components;
@tailwind utilities;

.image-container {
    width: 100%;

    > div {
        position: unset !important;
    }

    .image {
        object-fit: contain;
        width: 100% !important;
        position: relative !important;
        height: unset !important;
    }
}

.ul-style ul {
    @apply list-disc;
}

.ul-style ul li {
    @apply ml-4;
    @apply mb-2;
}